body{
    font-family: "Noto Sans CJK KR", serif;
    background-image: url(img/black.jpeg);
    background-repeat: initial;
    background-size: cover;
    color: white;
    font-size: xx-large;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
}
p{
    margin: 0px;
}
#red_style{
    color: #f59fb8;
}
#green_style{
    color: #aad272;
}
#blue_style{
    color: #84BCd5;
}
.form,
.greeting{
    display:none;
}
.showing{
    display: block;
}
input{
    display: flex;
    width: 200px;
    height: 50px;
}
span{
    font-size: medium;
    color: white;
}
.TOP_LEFT{
    grid-column: 1/2;
    grid-row: 1/2;
}
.TOP_MIDDLE{
    grid-column: 2/3;
    grid-row: 1/2;
}
.TOP_RIGHT{
    grid-column: 3/4;
    grid-row: 1/2;
}
.CENTER_LEFT{
    grid-column: 1/2;
    grid-row: 2/3;
}
.CENTER_MIDDLE{
    grid-column: 2/3;
    grid-row: 2/3;
}
.CENTER_RIGHT{
    grid-column: 3/4;
    grid-row: 2/3;
}
.BOTTOM_LEFT{
    grid-column: 1/2;
    grid-row: 3/4;
}
.BOTTOM_MIDDLE{
    grid-column: 2/3;
    grid-row: 3/4;
}
.BOTTOM_RIGHT{
    grid-column: 3/4;
    grid-row: 3/4;
}

