body {
  font-family: "Noto Sans CJK KR", serif;
  background-image: url(img/black.jpeg);
  background-repeat: initial;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: 169px 169px 169px 169px 169px 169px;
  grid-template-rows: 211px 412px 211px 138px 274px;
  gap: 0px 0px;
}
h4 {
  font-size: 20px;
}
p {
  margin: 0px;
  font-size: large;
}
#red_style {
  color: #f59fb8;
}
#green_style {
  color: #aad272;
}
#blue_style {
  color: #84bcd5;
}
.COM1 {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  margin-top: 80px;
}
.COM2 {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
  margin-top: 0px;
  font-size: 50px;
}
#CL_MIN {
  margin-top: 30px;
}
#CL_HOUR {
  margin-bottom: 30px;
}
.COM3 {
  grid-column: 1/3;
  grid-row: 3/4;
  font-size: 20px;
  margin-top: 92px;
  text-align: center;
}
.COM4_TITLE {
  grid-column: 1/3;
  grid-row: 4/5;
  font-size: 30px;
  text-align: center;
}
.COM4_1 {
  grid-column: 1/2;
  grid-row: 5/6;
  font-size: x-small;
}
.COM4_2 {
  grid-column: 2/3;
  grid-row: 5/6;
  font-size: x-small;
}
.CUSTOM1 {
  grid-column: 3/5;
  grid-row: 4/6;
  margin-top: 60px;
  text-align: center;
}
.CUSTOM2 {
  grid-column: 5/7;
  grid-row: 4/6;
  margin-top: 60px;
  text-align: center;
}
.GREETUSR {
  grid-column: 6/7;
  grid-row: 1/2;
}
.left_al {
  text-align: left;
  margin-left: 50px;
}
